@import "tailwindcss";

/* @theme {
  --breakpoint-lg: 1440px;
} */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-manrope);
}

@layer utilities {
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
